---
#Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  background-color: azure;
}

.site-header {
  background-color: #5145f1;
  border-top: 4px solid #000000f5;
}
.site-title,
.page-link,
a {
  color: beige;
  font-weight: 600;
}
