---
#Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  background-color: rgb(185, 241, 241);
}

.site-header {
  background-color: #1100ff;
  border-top: 4px solid #000000f5;
}
.site-title,
.page-link,
a {
  color: rgb(25, 0, 255);
  font-weight: 600;
}
